@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{ box-sizing: border-box; }
body{
	font-family: 'Poppins', sans-serif;
	margin: 0px;
}
.banner{
    background-color: #ebebee;
    padding-top: 200px;
    padding-bottom: 200px;
		}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
h1{
	margin: 0px;
	font-size: 100px;
	color: #8d9dad;
	line-height: 1.5;
	font-weight: 900;
	margin-bottom: 25px;
}

p{
	margin: 0px;
	font-size: 20px;
	color: #8d9dad;
	line-height: 1.7;
}
.about-us{
			background-color: aliceblue;
			padding: 50px;
		}



.row{
	display:flex ;
	flex-wrap: wrap;
}
		.column-1{
			padding: 20px;
			flex-basis: 45%;
		}
		.column-2{
			padding: 20px;
			flex-basis: 55%;
		}